.button-map{
  margin-top: 4rem;
}


.dataSend{
  display: none;
}
.imageHolder{
   width: 300px;
   height: 300px;
}
img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.circular-bar{
  width: 150px;
  height: 100px;
  align-items: center;
}

.map-responsive {
  overflow:hidden;
  padding-bottom:400px; 
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

#fileInput{
  display: none;
}

.fa-cloud-arrow-up{
  cursor: pointer;
 
}

.file{
  left:1.5rem;
  top:1rem;
  height:90%;
  width:90%;
  position:absolute;
}

.css-button-gradient--1 {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #4ecdc4 0%, #c797eb 75%);
}
.css-button-gradient--1:hover {
  background-position: right center;
}
.css-button-gradient--1:active {
  top: 2px;
}