.blackg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/bg-img.png");
    bottom: 1rem;
} 
.title{
    margin-top: 6rem;
}
.carousel {
    width: 800px;
    height: 980px;
    margin: auto;
}
.carousel-control-prev{
    height: 300px;
}
.carousel-control-next{
    height: 300px;
}
.carousel .carousel-control-prev-icon{
    visibility: hidden;
}
.carousel .carousel-control-prev-icon{
    visibility: visible;
}
.carousel .carousel-control-next-icon{
    visibility: hidden;
}
.carousel .carousel-control-next-icon{
    visibility: visible;
}
.boton-descarga{
    color: #000;
    border: solid 1px #000;
}

/* Toogle text */
.text-show{
    color:#0158a2;;
    font-weight: bold;
    cursor: pointer;
}
.text-show:hover{
    font-weight: bold;
    color: green;
}

/* Texto oculto */
.tag-text{
    display:none;
}