@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto+Condensed&display=swap');


 h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #575757ec;
} 
html{
	overflow-x: hidden;
  }

.myButton {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #4620e0 5%, #9919cc 100%);
	background-color:#4620e0;
	border-radius:6px;
	border:1px solid #f7f7f7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3b20d4;
}
.myButton:hover {
	background:linear-gradient(to bottom, #9919cc 5%, #4620e0 100%);
	background-color:#9919cc;
}
.myButton:active {
	position:relative;
	top:1px;
}